body{
    background-color: white;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}

#ground{
    position:absolute;
    margin-left: 10%;
    margin-top: 4.75%;
    width: 80vw; height: 85%;
    border:2px solid red;
    background-color: rgb(70, 46, 20);
}

#Cplayer{
    position:absolute; 
    top:17%; 
    left:17%;
    width:100px; height:100px;          
    background-color:rgb(0, 225, 255);
}

#wall{
    background-image: inherit url(images/forest.png);
}

#window{
    width: 700px;
    height: 500px;
    background-color: violet;
    position: absolute;
z-index: 2;
    display: none;
}


#enemy{
    position:absolute; 
    top:17%; 
    left:67%;
    width:100px; height:100px;          
    background-color:rgb(255, 0, 0);
}

.door{
    position: absolute;
    top:40%;
    left: 99%;
    width: 1%;
    height: 20%;
    background-color: black;

}

.buttonText{
    text-align: center;
    font-size: 40px;
    user-select: none;
}

.stat{
    user-select: none;
}

#characterCreator{
    display: none;
}

#Name{
    top: 5px;
    left: 5px;
    position: absolute;
    text-align: center;
    padding-left: 4px;
    padding-right: 6px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
}

#Level{
    left: 76%;
    top: 5px;
    position: absolute;
    text-align: center;
    padding-left: 4px;
    padding-right: 6px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
}

#HP{
    top: 60px;
    left: 2.5px;
    padding-top: 5%;
    width: 80px;
    text-align: center;
    height: 70px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
    position: absolute;
    display: inline-block;
}

#STR{
    top: 60px;
    left: 87.5px;
    padding-top: 5%;
    width: 80px;
    text-align: center;
    height: 70px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
    position: absolute;
    display: inline-block;
}

#DEF{
    top: 60px;
    left: 172.5px;
    padding-top: 5%;
    width: 80px;
    text-align: center;
    height: 70px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
    position: absolute;
    display: inline-block;
}

#SPD{
    top: 60px;
    left: 257.5px;
    padding-top: 5%;
    width: 80px;
    text-align: center;
    height: 70px;
    border-width: 4px;
    background-color: rgb(107, 114, 128);
    position: absolute;
    display: inline-block;
}

.enemyBorder{
    border-color: rgb(239, 68, 68 );
}

.playerBorder{
    border-color: rgb(45, 212, 191);
}

.testBorder{
    border-color: rgb(156, 163, 175);
}

.log{
    margin-left: 5px;
    margin-top: 5px;
    border-width: 4px;
    border-color: rgb(156, 163, 175);
    position: relative;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.turnCounter{

    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    margin-top: 5px;
    width: fit-content;
    border-color: rgb(156, 163, 175);

}

@tailwind base;
@tailwind components;
@tailwind utilities;